body {
    font: normal 14px sans-serif;
}
.navbar {
    max-width: 80em;
    margin: 0 auto;
}
.navbar-outer {
    max-width: 100%;
}
#contents {
    max-width: 80em;
    margin: 0 auto;
    padding: 2em 1em;
}
